<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>PokeInfo</title>
</head>

<body>

    <nav>
        <article>
            <img src="/img/pokebola-go.png" alt="">
            <h1><a href="/">Pokedex</a></h1>
        </article>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/registro">Cadastro</a></li>
        </ul>
    </nav>

    <header>
        <h1>
            <%= pokemon.nome %><span style="font-weight: 200"> N° <%= pokemon.numero %> </span>
        </h1>
    </header>

    <section id="details">
        <img src="<%= pokemon.imagem %>" alt="">
        <div id="infos">
            <p>
                <%= pokemon.descricao %>
            </p>
            <div id="info-datail">
                <div class='col'>
                    <h4>Altura:</h4>
                    <h3>
                        <%= pokemon.altura %>
                    </h3>
                    <h4>Peso:</h4>
                    <h3>
                        <%= pokemon.peso %>
                    </h3>
                </div>
                <div class='col'>
                    <h4>Categoria:</h4>
                    <h3>
                        <%= pokemon.categoria %>
                    </h3>
                    <h4>Habilidade:</h4>
                    <h3>
                        <%= pokemon.habilidade %>
                    </h3>
                </div>
            </div>
            <h3>Tipo:</h3>
            <h2>
                <%= pokemon.tipo %>
            </h2>
        </div>


    </section>

    <script src="/js/script.js"></script>

</body>

</html>